<!DOCTYPE html>
<html>
  <% include wrap %>
  <body>
    <div id="wrap">
      <div id="title">에러!</div>
      <div id="text">죄송합니다. 이 페이지는 존재하지 않습니다.</div>
      <% include back %>
    </div>
  </body>
</html>
