<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>한자</title>
      <img id="background" width="100%" src="http://postfiles4.naver.net/MjAxNzA5MjVfMTAz/MDAxNTA2MzM5MzczNjU5.0gMcPzh8GJX3jNJg0yPF2rqEOVLV54r2_u9lLM7gcqgg.3aGOFUZyqHuDZJvbe5zKCs598H6NVHGaeaLZ0X-dN28g.PNG.mjhmjh1104/%ED%95%9C%EC%9E%90.png?type=w773">
    <style>
    img, head, body {
      margin: 0px;
      padding: 0px;
    }
    img {
      border-radius: 5px;
    }
    #background {
      position: fixed;
      border-radius: 0px;
    }
    </style>
  </head>
  <body bgcolor="black"/>
</html>
