<!DOCTYPE html>
<html>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <head>
    <% include background %>
    <style>
    #wrap {
      background: white;
      opacity: 0.8;
      border-radius: 5px;
      display: block;
      margin: 20px;
      margin-top: 0px;
      padding: 10px;
    }
    #title {
      font-size: 30pt;
      font-weight: bold;
      margin-bottom: 5px;
      overflow: auto;
      width: 100%;
    }
    #text {
      font-size: 15pt;
      font-weight: normal;
      width: 100%;
    }
    #shape, #word {
    font-weight: bold;
    border-style: ridge;
    border-color: black;
    margin: 5px;
    font-family: "궁서";
    border-radius: 5px;
    }
    #shape {
      font-size: 150pt;
    }
    #word {
      font-size: 50pt;
      display: inline-block;
      vertical-align: bottom;
    }
    #parent {
      height: 100%;
      width: 50;
      display: inline-block;
    }
    #content {
      display: inline-block;
      height: auto;
    }
    #clear {
      clear: both;
    }
    a {
      color: black;
      text-decoration: none;
    }
    input {
      font-family: "1훈정글북", "나눔고딕", "맑은 고딕", "바탕";
      font-size: 15pt;
      width: 98%;
      opacity: 1;
      border-radius: 5px;
      border-style: ridge;
      border-color: black;
      margin-bottom: 5px;
      padding-left: 10px;
      padding-right: 10px;
      padding: 5px;
    }
    div {
      margin: 0px;
      padding: 0px;
      font-family: "1훈정글북", "나눔고딕", "맑은 고딕", "바탕";
      vertical-align: text-top;
      align: left;
    }
    @media (min-width: 770px) {
      #shape {
        float: left;
        display: inline;
      }
      #content {
        width: -webkit-calc(100% - 170pt);
      }
    }
    @media (max-width: 771px) {
      #shape {
        display: block;
        text-align: center;
      }
      #content {
        width: 100%;
      }
    }
    </style>
  </head>
  <body>
    <div>
      <div width=100px height=20px id="space"><br></div>
    </div>
  </body>
</html>
