<!DOCTYPE html>
<html>
<% include wrap %>
  <body>
    <div id="wrap">
      <div id="shape">角</div>
      <div id="content">
        <div id="title">뿔 각</div>
        <div id="text">짐승의 '뿔' 모양을 본뜬 것이다.</div>
        <div id="parent">
          <div id="word">角度</div>
          <div id="word">角木</div>
          <div id="word">口角</div>
          <div id="word">四角</div>
          <div id="word">三角</div>
          <div id="word">直角</div>
        </div>
      </div>
      <% include back %>
    </div>
  </body>
</html>
